#root {
  width: 100%;
}
.Header {
  height: 60px;
  line-height: 40px;
  width: 100%;
  margin: 0;
  display: -webkit-flex;
  justify-content: space-around;
  float: left;
  display: flex;

  align-items: stretch;
  background-color: ivory;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  color: black;
  font-weight: 550;
  font-family: "Fira Code", SFMono-Regular, Consolas, "Liberation Mono", Menlo,
    monospace;
}
* {
  box-sizing: border-box;
  margin: 0;
  overflow-x: none;
}
ul > li {
  list-style-type: none;
  cursor: pointer;
}
body {
  width: 100%;
}
